# common
.idea
.vscode
*swp
__pycache__
*pyc
.DS_Store
private
*.npy
*.wav
!examples/sm1_cln.wav
*.mp3
*.cxx
*.o
*.a
*.so
*.txt
*.list
*.log
*.raw
*.ark
*.scp
.gen
*.bin
*.pyc
*.o
feats/ops/gen
build/
dist/
transform.egg-info/

